body{
    background-color: #000;
    color: #FFF;
    width: 80%;
    margin: 20PX auto;
    padding: 20px;
    border: #ccc solid 1px;
}

h1{
    font-size: 18px;
    
}

h2{
    font-size: 18px;
    font-weight: normal;
    color: yellow;
}

p{
    margin: 5px 0;
    line-height: 30px;
}
